datasets
.vscode
__pycache__
submissions/submission_2_llama/adapter_weights
submissions/submission_2_llama/original_llama
containers
local_test
wandb
checkpoints
models--openai--clip-vit-large-patch14
*.ckpt
.EasyOCR